{
    "extends":"airbnb-base",
    "parserOptions": {
        "ecmaVersion":6
    },

    "env": {
        "node":true,
        "browser":true,
        "es6":true
    },
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": ["error", "windows"]
    }
}